.homepage-section-main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #06d6a0;
    background-color: black
}
.homepage-title {
    font-size: 4em;
    font-weight: 700;
}
.homepage-div-1{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transform: translateY(-30px)
}
.homepage-subtitle1 {
    font-size: 1.2em;
    font-weight: 600;
}
.homepage-rdr-btn{
    margin-top: 15px;
    color: #06d6a0;
}
.rdr-btn-div {
    width: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#login-rdr:hover {
    background-color: #06d6a0;
    color:white
}
#signup-rdr {
    background-color: #06d6a0;
    color:white
}
#signup-rdr:hover {
    background-color: #ffffff;
    color: #06d6a0
}
