.reset-section-1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #06d6a0;
}
.reset-div-1{
    width: 30%;
    height: 45%;
    min-height: 40%;
    min-width: 30%;
    max-width: 60%;
    max-height: 50%;
    background-color: #ffffff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.reset-div-1>h1 {
    font-size: 2em;
    font-weight: 500;
    color: #000000;  
    margin-bottom: 20px;
}
.reset-div-1>p{
    text-align: center;
    width: 80%;
    margin-bottom: 1.75em;
}
#resetpw-fcontrol-div-1 {
    display: grid;
    width: 100%;
    grid-template-columns: 20% 80%;
    grid-template-rows: 60% 40%;
}
#resetpw-email-label {
    grid-column: 1;
    grid-row: 1;
    align-self: center;
    margin-top: 5px;
}
#resetpw-fcontrol-div-1 {
    height: 4em;
    grid-column: 2;
    display: grid;
}
#resetpw-input {
    grid-row: 1;
    grid-column: 2;
    align-self: center;
}
#reset-form-error-1 {
    grid-column: 2;
    grid-row: 2;
}
#resetpw-btn{
    width: 100%;
    background-color: #06d6a0;
    color:#ffffff;
    font-weight: 700;
    height: 2.5em;
    border-radius: 20px;
}
#resetpw-btn:hover {
    background-color: #000000;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1000ms;
    color:#ffffff;
}